name: Create associations between works where noted

permissions: 
  contents: write
  issues: read

on:
  workflow_dispatch: {}

jobs:
  placeholder:
    runs-on: ubuntu-latest
    steps:
      - name: Do nothing
        run: echo "This is a placeholder job until create_associations.py is completed"